<!DOCTYPE html>
<html lang="en">
  <head>
    <title>the soap zone</title>
    <% css.each do |stylesheet| %>
      <link rel="stylesheet" href="<%= stylesheet %>">
    <% end %>
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="soap's rss feed" />
    <%# preload all the relevant resources needed for the blog posts
        should hopefully make everything faster 
        also: needs to be automated if i ever want to add more 88x31s %>
    <link rel="preload" href="/fonts/LessPerfectDOSVGA-subset.woff2" as="font" />
    <link rel="preload" href="/88x31/soap.webp" as="image" type="image/webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <pre>
$ tree 'soap.systems'
	
┌── Blog
<% posts.each_with_index do |post, index| %>
<%# The last post needs a different character %>
<% if index == posts.size - 1 %>
│   └── <a href="<%= post[:link] %>"><%= post[:title] %></a>
<% else %>
│   ├── <a href="<%= post[:link] %>"><%= post[:title] %></a>
<% end %>
<% end %>
├── Contact
│   ├── <a href="https://bsky.app/profile/did:plc:mbdv5fpty2wlssfwwpys2boh">Bluesky</a>
│   ├── <a href="https://bsky.app/profile/did:plc:lghfd7elj6cjjwlhecp2utao">Bluesky_Alt</a>
│   ├── <a href="https://twitter.com/i/user/1123982013307019265">Twitter</a>
│   ├── <a href="mailto:soaper@disroot.org">Email</a>
│   └── Inactive
│       ├── <a href="https://twitter.com/i/user/1675953102254493699">Twitter_Alt</a>
│       ├── <a href="https://soap-nation.tumblr.com">Tumblr</a>
│       └── <a href="https://discord.com/users/589650351297396738">Discord</a>
├── Info
│   ├── <a href="/copyright.md">Copyright</a>
│   ├── <a href="/donate.md">Donate</a>
│   └── <a href="https://codeberg.org/soap/website">Source</a>
├── Stuff
│   └── <a href="/stuff/antisearch.md">Antisearch</a>
├── Projects
│   ├── <a href="https://bridge.soap.systems">Gemini Bridge</a>
│   └── <a href="https://codeberg.org/soap/userscripts">Userscripts</a>
└── Protocols
    ├── <a href="https://bridge.soap.systems/gemini://gemini.soap.systems">Gemini</a>
    └── <a href="http://http.soap.systems">HTTP</a>
      </pre>
    </main>
  </body>
</html>
