<!DOCTYPE html>
<html lang="en">
  <head>
    <title>the soap zone</title>
    <% css.each do |stylesheet| %>
      <link rel="stylesheet" href="<%= stylesheet %>">
    <% end %>
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="soap's rss feed" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <h1>Blog</h1>
      <ul>
        <% posts.each do |post| %>
          <li><a href="<%= post[:link] %>"><%= post[:title] %></a></li>
        <% end %>
      </ul>
      <% # i don't /like/ defining this directly in the erb but i also can't be bothered to change the script to support it so who cares %>
      <h1>Stuff</h1>
        <ul>
          <li><a href="/stuff/antisearch.md">Antisearch</a></li>
          <li><a href="/stuff/games.md">Every game I've played since 11/14/2023</a></li>
        </ul>
      <h1>Info</h1>
        <ul>
          <li><a href="/contact.md">Contact</a></li>
          <li><a href="/copyright.md">Copyright</a></li>
          <li><a href="/donate.md">Donate</a></li>
          <li><a href="https://codeberg.org/soap/website">Source</a></li>
        </ul>
    </main>
  </body>
</html>
