<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Not found</title>
    <link rel="preload" as="font" href="/fonts/ChicagoFLF-subset.woff2" crossorigin>   
    <link rel="preload" as="font" href="/fonts/ChiKareGo2-subset.woff2" crossorigin>   
    <link rel="stylesheet" href="<%= css %>">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="soap's rss feed" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="window">
        <div class="title-bar">
          <button aria-label="Close" class="close" disabled></button>
          <h1 class="title">404</h1>
          <button aria-label="Resize" class="resize" disabled></button>
        </div>
        <div class="separator"></div>

        <div class="window-pane">
          <p>Not found. If you got here by accident, <a href="/contact.md">email me.</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
