<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <% css.each do |stylesheet| %>
      <link rel="stylesheet" href="<%= stylesheet %>">
    <% end %>
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="soap's rss feed" />
    <link rel="me" href="https://codeberg.org/soap" />
    <link rel="me" href="https://github.com/soapingtime" />
    <link rel="me" href="https://twitter.com/i/user/1123982013307019265" />
    <link rel="me" href="mailto:soaper@disroot.org" />
    <link rel="me" href="https://discord.com/users/589650351297396738" />
    <link rel="me" href="https://soap-nation.tumblr.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <div class="ansi" role="img" aria-label="<%= title %>">
        <div aria-hidden="true">
         <%= ansi_title %> 
        </div>
      </div>
      <article>
        <%= html %>
      </article>
      <div class="button-88x31">
        <a href="/"
          <picture>
            <source srcset="/88x31/soap.webp" type="image/webp" />
            <img src="/88x31/soap.png" alt="back to home page" />
          </picture>
        </a>
      </div>
    </main>
  </body>
</html>
