/* python -c 'from pygments.formatters import HtmlFormatter; print(HtmlFormatter(style="rrt").get_style_defs(".highlight"))' */
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

.highlight .hll {
  background-color: #0000ff
}

.highlight {
  line-height: 125%;
  background: #131313;
  color: #dddddd
}

.highlight .c {
  color: #00ff00
}

.highlight .esc {
  color: #dddddd
}

.highlight .g {
  color: #dddddd
}

.highlight .cm {
  color: #00ff00
}

.highlight .cp {
  color: #e5e5e5
}

.highlight .cpf {
  color: #00ff00
}

.highlight .c1 {
  color: #00ff00
}

.highlight .cs {
  color: #00ff00
}

.highlight .gd {
  color: #dddddd
}

.highlight .ge {
  color: #dddddd
}

.highlight .ges {
  color: #dddddd
}

.highlight .gr {
  color: #dddddd
}

.highlight .gh {
  color: #dddddd
}

.highlight .gi {
  color: #dddddd
}

.highlight .go {
  color: #dddddd
}

.highlight .gp {
  color: #dddddd
}

.highlight .gs {
  color: #dddddd
}

.highlight .gu {
  color: #dddddd
}

.highlight .gt {
  color: #dddddd
}

.highlight .kc {
  color: #ff0000
}

.highlight .kd {
  color: #ff0000
}

.highlight .kn {
  color: #ff0000
}

.highlight .kp {
  color: #ff0000
}

.highlight .kr {
  color: #ff0000
}

.highlight .kt {
  color: #ee82ee
}

.highlight .ld {
  color: #dddddd
}

.highlight .m {
  color: #ff00ff
}

.highlight .nb {
  color: #dddddd
}

.highlight .nc {
  color: #dddddd
}

.highlight .no {
  color: #7fffd4
}

.highlight .nd {
  color: #dddddd
}

.highlight .ni {
  color: #dddddd
}

.highlight .ne {
  color: #dddddd
}

.highlight .nf {
  color: #ffff00
}

.highlight .nl {
  color: #dddddd
}

.highlight .nn {
  color: #dddddd
}

.highlight .nx {
  color: #dddddd
}

.highlight .py {
  color: #dddddd
}

.highlight .nt {
  color: #dddddd
}

.highlight .nv {
  color: #eedd82
}

.highlight .ow {
  color: #dddddd
}

.highlight .pm {
  color: #dddddd
}

.highlight .w {
  color: #dddddd
}

.highlight .mf {
  color: #ff00ff
}

.highlight .mh {
  color: #ff00ff
}

.highlight .mi {
  color: #ff00ff
}

.highlight .mo {
  color: #ff00ff
}

.highlight .sa {
  color: #87ceeb
}

.highlight .sb {
  color: #87ceeb
}

.highlight .sc {
  color: #87ceeb
}

.highlight .dl {
  color: #87ceeb
}

.highlight .sd {
  color: #87ceeb
}

.highlight .s2 {
  color: #87ceeb
}

.highlight .se {
  color: #87ceeb
}

.highlight .sh {
  color: #87ceeb
}

.highlight .si {
  color: #87ceeb
}

.highlight .sx {
  color: #87ceeb
}

.highlight .sr {
  color: #87ceeb
}

.highlight .s1 {
  color: #87ceeb
}

.highlight .ss {
  color: #87ceeb
}

.highlight .bp {
  color: #dddddd
}

.highlight .fm {
  color: #ffff00
}

.highlight .vc {
  color: #eedd82
}

.highlight .vg {
  color: #eedd82
}

.highlight .vi {
  color: #eedd82
}

.highlight .vm {
  color: #eedd82
}

.highlight .il {
  color: #ff00ff
}