@font-face {
  font-family: "Less Perfect DOS VGA";
  src: url(fonts/LessPerfectDOSVGA-subset.woff2);
}

body {
  font-family: "Less Perfect DOS VGA", monospace;
  color: white;
  background-color: #131313;
}

article {
  margin: 0 30vh;
  font-size: medium;
}

@media only screen and (max-width: 768px) {
  article {
    margin: 0 5vh;
  }
}

a {
  color: #46bcde;
}

a:visited {
  color: #5863ff;
}

img {
  max-width: 40%;
  height: auto;
}

code {
  font-family: "Less Perfect DOS VGA", monospace;
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 90%;
  }
}

.ansi {
  padding: 0 7.5vw;
  text-align: center;
  font-size: 0.75em;
  /* border: solid 1px green; */
}

@media only screen and (max-width: 768px) {
  .ansi {
    font-size: 0.2em;
  }
}

.ansi-word {
  display: inline-block;
  /* border: solid 1px red; */
}

.button-88x31 img {
  display: block;
  margin: auto
}